<div class="user-details">
  <h1>My Expertise</h1>
  <p>
    I specialize in getting your web and mobile apps into user's hands quickly.
    I do fast, quality work and the pace of development does not stop year after
    year. I practice true test driven development which prevents work from
    becoming overly complex, allowing us to move confidently fast. I use
    popular, battle-tested technologies that are a joy to use and easy to hire
    for.
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Fast</h2>
    <i class="devicon-codeigniter-plain colored"></i>
    <p>
      My clients have put 10 apps in the iOS and Google Play stores in the past
      year. Working with me will put yours alongside theirs within the month.
    </p>
  </div>
  <div class="tech">
    <h2>Affordable</h2>
    <i class="devicon-coffeescript-original colored"></i>
    <p>
      I've worked for firms which bill 3x my rate. I've found I can live
      comfortably doing the same quality work for a fraction of their price.
    </p>
  </div>
  <div class="tech">
    <h2>Efficient</h2>
    <i class="devicon-react-original colored"></i>
    <p>
      I practice true test driven development. That means we'll always be moving
      forward. Never backwards.
    </p>
  </div>
</div>
