<div class="user-details">
  <h1>My Expertise</h1>
  <p>
    I specialize in getting your web and mobile apps into user's hands quickly.
    I take pride in my work and I do it the right way. The experience I hold
    most dear I learned while working at
    <a href="https://pivotal.io/customers/">Pivotal Labs</a>. I do fast, quality
    work and the pace of development does not stop after a year or two or three
    because I practice true test driven development which results in infallible,
    living documentation. I also work with popular, battle-tested technologies
    because they're a joy to use. Why does this matter to you? You'll never be
    in a position where it will be difficult to hire new folks because the
    existing work is too complex to understand or because the technologies used
    are too obscure.
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Fast</h2>
    <i class="devicon-codeigniter-plain colored"></i>
    <p>
      My clients have put 10 apps in the iOS and Google Play stores in the past
      year alone. Choosing to work with me will put yours alongside theirs
      within one month.
    </p>
  </div>
  <div class="tech">
    <h2>Affordable</h2>
    <i class="devicon-coffeescript-original colored"></i>
    <p>
      I've worked for firms which bill 3x my rate. I've found I can live
      comfortably doing the same quality work for a fraction of their price.
    </p>
  </div>
  <div class="tech">
    <h2>Efficient</h2>
    <i class="devicon-react-original colored"></i>
    <p>
      I practice true test driven development. That means we'll always be moving
      forward. Never backwards.
    </p>
  </div>
</div>
