<div class="user-details">
  <h1>Past Work</h1>
</div>
<div class="user">
  <div class="tech">
    <a href="https://autodesk.com" target="_blank">
      <img alt="autodesk" src="{{ "/assets/img/clients/autodesk.png" | prepend:
      site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
  <div class="tech">
    <a href="https://www.travelers.com/index" target="_blank">
      <img alt="travelers" src="{{ "/assets/img/clients/travelers.png" |
      prepend: site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
  <div class="tech">
    <a href="https://www.manulife.com/" target="_blank">
      <img alt="manulife" src="{{ "/assets/img/clients/manulife.png" | prepend:
      site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
</div>

<div class="user">
  <div class="tech">
    <a href="https://www.thelevelup.com/" target="_blank">
      <img alt="levelup" src="{{ "/assets/img/clients/levelup.png" | prepend:
      site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
  <div class="tech">
    <a href="https://www.cybexintl.com/" target="_blank">
      <img alt="cybex" src="{{ "/assets/img/clients/cybex.png" | prepend:
      site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
  <div class="tech">
    <a href="https://www.qeepsake.co/" target="_blank">
      <img alt="qeepsake" src="{{ "/assets/img/clients/qeepsake.png" | prepend:
      site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
</div>

<div class="user">
  <div class="tech">
    <a href="https://www.conformis.com/" target="_blank">
      <img alt="conformis" src="{{ "/assets/img/clients/conformis.png" |
      prepend: site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
  <div class="tech">
    <a href="https://www.lexshares.com/" target="_blank">
      <img alt="lexshares" src="{{ "/assets/img/clients/lexshares.png" |
      prepend: site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
  <div class="tech">
    <a href="https://laborocity.com/" target="_blank">
      <img alt="laborocity" src="{{ "/assets/img/clients/laborocity.png" |
      prepend: site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
</div>

<div class="user">
  <div class="tech">
    <a
      href="http://archive.boston.com/business/technology/apptitude_test/Ticketzen%20website%20screenshot.JPG"
      target="_blank"
    >
      <img alt="ticketzen" src="{{ "/assets/img/clients/ticketzen.png" |
      prepend: site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
  <div class="tech">
    <a href="https://www.tripzero.com/" target="_blank">
      <img alt="trip zero" src="{{ "/assets/img/clients/trip-zero.png" |
      prepend: site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
  <div class="tech">
    <a href="http://torqinterface.com/" target="_blank">
      <img alt="torq" src="{{ "/assets/img/clients/torq.png" | prepend:
      site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
</div>

<div class="user">
  <div class="tech">
    <a href="https://www.meyouhealth.com/" target="_blank">
      <img alt="me you health" src="{{ "/assets/img/clients/me-you-health.png" |
      prepend: site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
  <div class="tech">
    <a href="https://www.om1.com/" target="_blank">
      <img alt="om1" src="{{ "/assets/img/clients/om1.png" | prepend:
      site.baseurl }}" style="max-width: 200px; max-height: 200px"/>
    </a>
  </div>
  <div class="tech">
    <div style="width: 200px; height: 200px" />
  </div>
</div>
