<div class="user-details">
  <h1>Recent Work</h1>
</div>

<div class="user-projects" style="margin-bottom: 100px">
  <div class="images-right">
    <img alt="qeepsake" src="{{ "/assets/img/qeepsake.png" | prepend:
    site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3>Qeepsake</h3>
    <p>
      Qeepsake sends parents daily, age appropriate questions via text message
      about their children. "Is Jack teething?" "What is Jill's new favorite
      toy?" Parents respond with memories and photos and Qeepsake mails them an
      album. This project scaled to over 100,000 users. My client even
      <a
        href="https://www.prnewswire.com/news-releases/qeepsake-co-founder-jeff-mcneil-went-head-to-head-with-the-sharks-of-shark-tank-300548101.html"
        >appeared on Shark Tank</a
      >
      while I was working on his app.
    </p>
    <a class="project-link" href="https://www.qeepsake.co/">Check it out</a>
  </div>
</div>

<div class="user-projects" style="margin-bottom: 100px">
  <div class="images-left">
    <img alt="torq" src="{{ "/assets/img/torq.png" | prepend: site.baseurl }}"
    style="max-height: 500px"/>
  </div>
  <div class="contents-right">
    <h3>Torq Interface</h3>
    <p>
      Torq is an app for medical device representatives. Joint replacement
      surgeries require a human from the company which created the joint
      replacement to be in the operating room with the surgeon. As surgeons'
      schedules change throughout the day, reps are paid to wait around or hurry
      to the hospital. Torq sends reps live schedule updates using push
      notifications by hooking into hospitals' electronic health records. I
      scaled Torq from zero lines of code to its use in over 20 hospitals around
      Boston.
    </p>
    <a
      class="project-link"
      href="https://apps.apple.com/us/app/torq-interface/id1439819022"
      >Check it out</a
    >
  </div>
</div>

<div class="user-projects" style="">
  <div class="images-right">
    <img alt="conformis" src="{{ "/assets/img/conformis.png" | prepend:
    site.baseurl }}" style="max-height: 500px"/>
  </div>
  <div class="contents">
    <h3>Conformis iViewer</h3>
    <p>
      Conformis is an app for surgeons who have upcoming joint replacement
      surgeries. Tapping a surgery in their schedule reveals video and PDF
      resources detailing the physical specifications of the joint replacement
      for that surgery.
    </p>
    <a
      class="project-link"
      href="https://apps.apple.com/us/app/conformis-iviewer/id1434743526"
      >Check it out</a
    >
  </div>
</div>
